#square {
    width: 500px;
    height: 500px;
    background: #b3b293;
    border: 4px solid black;
}

#myCharactImg div div {
    width: 150px;
    height: 150px;
    background: #c0ffec;
    border: 2px solid #4c3529;
}

#chetyre1:checked ~ .Blue {
    background: #60ff43;
}

#chetyre2:checked ~ .Blue {
    background: #60ff43;
}

#chetyre3:checked ~ .Blue {
    background: #60ff43;
}

#myCharactImg div button {
    width: auto;
}

.delete {
    display: none;
}

.edit {
    display: none;
}